<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: #f8f9fa;
        }

        .error-template {
            max-width: 600px;
            margin: auto;
        }
    </style>
</head>

<body>

    <div class="error-template">
        <h1 class="display-1">404</h1>
        <h2 class="display-4">Oops! Page not found</h2>
        <p class="lead">The page you are looking for might have been removed, had its name changed, or is temporarily
            unavailable.</p>
        <a href="{% url 'homePage' %}" class="btn btn-primary">Return to Homepage</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>